.Addnotification{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.DescribeCont{
    width: 1040px;
    height: 300px;
    margin-left: 40px;
    margin-top: 50px;
    background-color: #D7E0FF;
    display: flex;
    flex-direction: column;
}

.contText {
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 700;
    line-height: 33.45px;
    letter-spacing: -0.015em;
    color: #060606;
    margin-left: 70px;
    margin-top: 35px;
}

.spanTxt {
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 700;
    line-height: 22.3px;
    letter-spacing: -0.015em;
    margin-left: 70px;
}

.addImgCont{
    width: 1040px;
    height: 400px;
    margin-left: 40px;
    margin-top: 50px;
    background-color: #D7E0FF;
    display: flex;
    flex-direction: column;
}

.horizontalImg{
    margin-top: 10px;
    display: flex;
}

.imgCont{
    width: 240px;
    height: 120px;
    background-color: #E7C6C6;
    display: flex;
    align-items: center; 
}

.imgContGray{
    width: 240px;
    height: 120px;
    background-color:  #D9D9D9;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-left: 20px;
}

.Location{
    width: 1040px;
    height: 200px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #D7E0FF;
    display: flex;
    flex-direction: column;
}

.ContactInformation{
    width: 1040px;
    height: 350px;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #D7E0FF;
    display: flex;
    flex-direction: column;
}

.ContactTxt{
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 700;
    line-height: 22.3px;
    margin-left: 70px;
    margin-top: 15px;
    letter-spacing: -0.015em;
}

.PrevPubl{
    display: flex;
    justify-content: end;
}

.publish{
    width: 200px;
    height: 35px;
    background-color: #8ABBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 30px;
    margin-right: 130px;
    margin-bottom: 70px;
}

.publishText{
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 700;
    line-height: 33.45px;
    letter-spacing: -0.015em;
    color: #000000;
}