.DashboardMain{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.WelcomeTxt{
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    color:  #0051FE;
    margin-left: 130px;
}

.LatestStory{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}

.latestStoryTxt{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    color:  #000000;
}

.StoryCirclesMain{
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}

.StoryCircles{
  width: 150px;
  height: 150px;
  background-color: #D9D9D9;  
  border-radius: 50%;
  border: 5px solid #D52B1E;
  margin-left: 15px;
}

.SectionCategory{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 250px;
}
.sectByCategoryTxt{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    color:  #000000;
    margin-bottom: 70px;
}
.RowCategory{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -70px;
}
.TextWithIcon{
    margin-left: 150px;
}

.TextWithIcon p{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color:  #4147D5;
}

.ItemsLost {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: nowrap;
    overflow-x: auto; 
    margin-left: -250px;
  }
  
