.UserPageHeader{
  display: flex;
  margin-top: 15px;
}

.CreaterStory{
    width: 300px;
    height: 80px; 
    background-color:#006BFF;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;

}

.CreaterStory img {
    margin-left: 30px;
  }
 
  .CreaterStory p {
  font-family: 'Comfortaa';
  font-size: 25px;
  font-weight: 400;
  line-height: 27.88px;
  letter-spacing: -0.015em;
  color: white;
  margin-right: 80px;
  }

.SearchData{
    width: 400px; 
    height: 80px;
    background-color: #D7E0FF;
    border-radius: 20px;
    border-color: #006BFF;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.SearchDataleftSide{
    margin-left: 20px;
    display: flex;
}

.searchDataText{
    font-family: 'Comfortaa';
    font-size: 25px;
    font-weight: 400;
    line-height: 27.88px;
    letter-spacing: -0.015em;
    color: #4147D5;
    margin-left: 10px;
}

.UserInter{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.UserInter p:first-child {
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 400;
    line-height: 27.88px;
    letter-spacing: -0.015em;
    color: #4147D5;
  }
.UserInter p:last-child {
    margin-top: -10px; 
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 400;
    line-height: 27.88px;
    letter-spacing: -0.015em;
    color: #C4C4C4;
  }
