.footer {
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first{
    display: flex;
    justify-content: space-around;
}

.footer p{
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    font-weight: 600;
}

.logo{
    display: flex; 
    justify-content: center;
    align-items:center;
}

.logo > h3{
    margin-left: 10px;
    font-family: 'Comfortaa';
    font-size: 28.44px;
    font-weight: 400;
    color:#000000;
}

.logo > img{
    width: 70px;
    height: 50px;
}

.horizontal-line {
    width: 91%;
    margin: 0 auto; /* Center the line horizontally */
    border-top: 1px solid #000000; /* Solid black line */
}
.socialMedia{
    width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 80px;
}
 
.inc{
    width: 100%; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
}

.inc > p{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
}